//Menu
nav.menu-container
	ul.menu-nav
		li
			a(href="#")
				//- i.icon.icon-escudo
				+image('icons/nuestra-fuerza.png', 'Nuestra fuerza')
				span Nuestra Fuerza
		li
			a(href="#")
				//- i.icon.icon-libro
				+image('icons/gestion-conocimiento.png', 'Gestión del conocimiento')
				span Gestión del conocimiento

		li
			a(href="#")
				//- i.icon.icon-boletin
				+image('icons/boletin.png', 'Boletín electrónico')
				span Boletín Electrónico

		li
			a(href="#")
				//- i.icon.icon-subsites
				+image('icons/subsitios.png', 'Subsitios FAC')
				span Subsitios FAC

		li
			a(href="#")
				//- i.icon.icon-servicios
				+image('icons/servicios.png', 'Servicios')
				span Servicios
///-Menu