//Menu
nav.menu-container
	ul.menu-nav
		li
			a(href="#")
				i.icon.icon-escudo
				span Nuestra Fuerza
		li
			a(href="#")
				i.icon.icon-libro
				span Gestión del conocimiento

		li
			a(href="#")
				i.icon.icon-boletin
				span Boletín Electrónico

		li
			a(href="#")
				i.icon.icon-subsites
				span Subsitios FAC

		li
			a(href="#")
				i.icon.icon-servicios
				span Servicios
///-Menu