.bg
	&-blue
		background-color $azul
		color white
		
		a
			color $amarillo
			

		.title-section
			border-bottom 1px solid $amarillo
			color $amarillo
			max-width 100%
	&-gris
		background-color #e4e4e4
		padding-bottom 2rem
		padding-top @padding-bottom