.btn
	background transparent
	border none
	border-radius 0
	display block
	margin 1rem auto
	padding 1rem
	position relative
	text-transform uppercase
	transitionBase()
	
	&:active,
	&:hover
		outline none !important
		outline 0 !important
		

	&-toggle
		
		.icon
			cuadrado(3rem)