.btn
	background transparent
	border none
	border-radius 0
	display block
	margin 1rem auto
	padding 1rem
	position relative
	text-transform uppercase
	transitionBase()
	
	&:active,
	&:hover
		outline none !important
		outline 0 !important
		

	&-toggle
		
		.icon
			cuadrado(3rem)
			

.video-js
	.vjs-big-play-button
		font-size 5em
		circ(8rem)
		left 50%
		top 50%
		transform translate3d(-50%, -50%,0)