.img-container
	img-responsive(block)
	transitionBase()
	width 100%
	

.title-section
	border-bottom 1px solid #e4e4e4
	color $azul
	margin 1rem 0
	max-width (8.3%*8)
	padding-bottom 1rem
	padding-top @padding-bottom
	text-align left
	text-transform uppercase
	