.container
	&-cierre
		padding-bottom 9rem !important
		padding-top 7rem !important
		.banner-2
			img
				width 100%
	&-fluid
		clearfix()
		margin 0 auto
		transform-origin right top
		transitionBase()
		width 100%
		

	&-noticias
		padding-bottom 1rem
		padding-top @padding-bottom
	
	&-slider
		padding 0
		

	&-video-home
		.title-section
			padding-bottom 3.6rem
			padding-top 8rem
			max-width (8.3%*7) !important
		


@media (min-width: 770px)
	.container-sys-info
		position initial
		
		.row
			position initial
			

@media (min-width: 1440px)

	.container
		&-cierre
			.banner-2
				img
					width 100%