.container
	&-fluid
		clearfix()
		margin 0 auto
		transform-origin right top
		transitionBase()
		width 100%
		

	&-noticias
		padding-bottom 1rem
		padding-top @padding-bottom
	
	&-slider
		padding 0