.row
	make-row()
	margin 0 auto
	max-width $site-width //medida de la caja fija del diseño general
	padding-left 20px
	padding-right @padding-left
	// position relative
		

	&-content
		padding-left 5rem
		padding-right @padding-left
		
		h2,h3,h4,h5,h6
			color $azul
			
		p
			font-size 1.8rem
			padding-left 6rem
			margin 2rem auto
			
		.title-section
			max-width 100%