.menu
	&-container
		background-color $gris
		color white
		height 100%
		left -20%
		padding 3rem 0
		position fixed
		top 9rem
		transitionBase()
		width 20%
		z-index 20
		
		&.active
			left 0
		
	&-nav
		list-style-type none
		padding 0
		
		a
			background-color #fff
			color $gris
			display block
			font-weight $bold
			padding 1rem 2rem
			text-transform uppercase
			transitionBase()
			
			img,
			span
				display inline-block
				vertical-align middle
				

			img
				max-width 20%
				
			span
				padding 0.5rem
				max-width 75%

			&:hover
				background-color $azul
				color white
				text-decoration none

