// #slider-home
.slick
	
	&-arrow
		color $azul
		font-size 2rem
		position absolute
		text-decoration none
		top 50%
		transform translateY(-@top)
		
	&-next
		right 1rem
	&-prev
		left 1rem

		
	&-dots
		list-style-type none
		margin 1rem auto
		padding 0
		text-align center
		
		li
			display inline-block
			margin 1rem
			
			button 
				background-color $azul
				border none
				circ(1.5rem)
				overflow hidden
				text-indent -9999px
				transitionBase()
				
				&:active,
				&:focus
					outline 0
					outline none
			
			&.slick-active
				button 
					background-color $rojo
	
#slider-home
	.item
		img
			object-fit(cover)
			height 45rem
	

#slider-videos
	
	.item
		position relative
		
		img
			object-fit(cover)
			height 35rem
			
		&-text
			background-color rgba(0,0,0,0.5)
			bottom 0
			color white		
			left 0rem
			position absolute
			width 100%
			transitionBase()
			z-index 100
			
			a
				color white
				
			p
				font-size 1.8rem
				padding 3rem 2rem
				
			.fa
				font-size 6rem
				
				
	.slick-dots
		li
			button
				background-color #fff
				
			&.slick-active
				button
					background-color $amarillo

.slider
	img
		img-responsive(block)
		width 100%
		

@media (max-width:$screen-sm)
	#slider-home
		.item
			img
				height 22rem