.body
	&-fixed
		position fixed

.clearfix
	clearfix()
	

.hidden-x
	overflow-x hidden

.push-menu
	margin-right 0
	width 80%

.text		
	&-justify
		text-align justify
		text-align-last left
	&-left
		text-align left