.body
	&-fixed
		position fixed

.clearfix
	clearfix()
	

.hidden-x
	overflow-x hidden

.push-menu
	left 17.4rem
	position relative

.text		
	&-justify
		text-align justify
		text-align-last left
	&-left
		text-align left