$amarillo          = #e0c022
$azul              = #003783
$facebook          = #39579a
$gris              = #5e5e5e
$rojo              = #e33142
$twitter           = #51abf1

$icons             = 'Glyphicons halflings'
$font-stack        = 'Titillium Web', sans-serif

$bold              = 700
$normal            = 400
$light             = 300


//site grid spacing and width
$gutter            = 0.5rem
$site-width        = 124rem

//screen sizes - rewrite bootstrap

// $screen-xs      = 320px // 480px
$screen-sm         = 770px // 768px
$screen-md         = 900px //992px
$screen-lg         = 1100px // 1200px
$grid-gutter-width = $gutter