.bg
	&-blue
		background-color $azul
		color white
		
		a
			color $amarillo
			
		.btn-all
			background-color #fff
			color black
			margin-top -7rem

			

		.title-section
			border-bottom 1px solid $amarillo
			color $amarillo
			max-width 100%
	&-gris
		background-color #e4e4e4
		padding-bottom 4rem
		padding-top @padding-bottom