.btn
	background transparent
	border none
	border-radius 0
	display block
	margin 1rem auto
	padding 1rem
	position relative
	text-transform uppercase
	transitionBase()
	
	&:active,
	&:hover
		outline none !important
		outline 0 !important
		

	&-all
		background-color $azul
		border-radius 10px
		color white
		display inline-block
		font-size 1.2rem
		font-weight $bold
		
		&:hover
			background-color white !important
			color $azul !important
		
	&-toggle
		
		.icon
			cuadrado(3rem)
			
		&.active
			.icon
				background none
				font-family $icons
				color $amarillo
				font-size 2rem
				font-style normal
				&::before
					content "\e014"
			

.video-js
	.vjs-big-play-button
		font-size 5em
		circ(8rem)
		left 50%
		top 50%
		transform translate3d(-50%, -50%,0)
		z-index 110