header
	.container-buscador
		form
			background-color white
			border-radius 10px
			position relative
			margin-bottom 15px
		
		.form-actions
			background transparent
			border none
			color $azul
			cuadrado(4.2rem)
			position absolute
			right 0.5rem
			top 50%
			transform translateY(-50%)
			display inline-block 
			font normal normal normal 14px/1 FontAwesome 
			font-size inherit 
			text-rendering auto 
			-webkit-font-smoothing antialiased 
			-moz-osx-font-smoothing grayscale 
			
			&::before
				content "\f002"
				font-size 2rem
				left 50%
				position absolute
				top 50%
				transform translate3d(-50%,-50%,0)
				
			.form-submit
				position absolute
				cuadrado(100%)
				top 0
				left 0
				opacity 0
				
		.form-text
			background-color transparent
			border none
			color #555
			display block
			font-size 14px
			height 34px
			line-height 1.428571429
			padding 6px 12px
			transitionBase()
			width 100%

.admin-menu
	.btn-menu
		z-index 10
		
	.region.region-header
		position relative
		z-index 0
		

	.menu-container
		top 9.8rem



.container-cierre
	.region-destacado5
		img
			display block
			height auto !important
			width 100% !important
			max-width 100% !important

		


#comments
	margin 1rem auto
	
	.comment
		border 1px solid $gris
		clear both
		clearfix()
		padding 0.5rem
			

		&-content,
		&-header
			float right
			padding 0.5rem
			width 80%
			h3
				margin 1rem auto
				font-weight $normal
				font-size 1.8rem
				
				a
					color $azul
					
		.links
			display none
			
		.submitted
			float left
			padding 0.5rem
			width 20%
		
			p
				margin 0 auto
				padding 0 2rem
				text-align left
				
			.username
				color $azul

.page-views		
	.view
		&-display-id-page
			margin 4rem auto
			max-width 1150px
			
		&-content
			.views-row
				make-sm-column(3, 3rem)
				margin-bottom 1rem
				margin-top @margin-bottom
				
				img
					img-responsive(block)
					width 100%
		
	.views			
		&-field-field-image
			img
				img-responsive(block)
				width 100%
				
		&-field-title
			background-color #fcfcfc
			padding 1rem 2rem
			
			h3.field-content
				margin 0 auto
				a
					color $gris
					display block
					font-size 1.8rem
					line-height 1.1
					
.revista
	iframe
		max-width 100%
				

.view-calendar
	.date-heading
		h3
			text-shadow none
			max-width 100% !important
			
			a
				color $azul
				
	.date-nav-wrapper
		.date-prev,
		.date-next
			background-color $azul
			a
				background-color transparent !important
				border none !important
				color white !important
