footer
	// padding 1rem 0
	position relative
	
	.bg-blue
		max-width 100%

	.menu-footer
		list-style-type none
		padding 2rem
		text-align center
		
		li
			display inline-block
			text-transform uppercase
			vertical-align middle
			

			a
				padding 1rem 0.5rem
			

	.row
		.col-sm-4
			padding 2rem 1rem