.form-actions
	text-align center
	
.form-item
	label
		color $azul
		
	input
		border 1px solid $azul
		border-radius 5px
		padding 0.5rem
	

.form-submit
	background-color $azul
	border 1px solid $azul
	border-radius 5px
	color white
	display inline-block
	font-size 1.8rem
	margin 0 1rem 
	padding 1rem 
	text-align center
	text-transform uppercase
	transitionBase()
	
	&:hover
		background-color #fff
		color $azul
		
