#forum
	table
		width 100%
		
		a
			color $azul
			

		tbody
			td
				padding 1rem 0
			
				&.icon
					padding 1rem
					
			tr.even
				background-color #f7f7f7
			tr.odd
				background-color #eee
				
			.username
				color $azul
				

		thead
			th
				padding 1rem 0
				