.page-user-login
	#tasks
		display none
		

.container-login
	.img-logo-login
		display block
		margin 1rem auto
		max-width 18rem
		
	.form
		&-actions
			.form-submit
				background-color $azul
				border none
				color white
				display block
				font-size 1.8rem
				margin 1rem auto
				max-width 28rem
				text-align center
				transitionBase()
				width 100%
				
				&:hover
					background-color $amarillo
					color black

		&-item
			margin 1rem auto
			

		&-select
			background transparent 
			margin 0 2rem 
			max-width 62% 
			width 100% 
			
		&-text
			border 1px solid $azul
			border-radius 5px
			padding 0.5rem 1rem
			width 100%
		