@media (max-width:1368px)
	.container-cierre
		.tab-content
			.tab-pane
				padding 0 4rem


@media (max-width:830px)
	.container-sys-info
		.row
			.lista-iconos
				a
					img
						max-width 2.8rem

@media (max-width:$screen-sm)
	
	h1.text-title
		font-size 3rem
		
	.banner,
	.revista
		display none
		
	.menu-container
		box-shadow 5px 0px 5px rgba(0,0,0,0.5) 
		left -62%
		top 10.4rem
		width 60%
		

	.container-cierre
		display none
		padding-bottom 2rem !important
		padding-top  @padding-bottom
		
	.container-fluid
		padding-left 0.5rem
		padding-right @padding-left
		
	.container-social-mobile
		display block
	.container-slider
		padding 0
	
	.container-video-home
		img
			display block
			margin 1rem auto
			height auto !important
			max-width 100% !important
			width 100% !important
		.title-section
			padding-bottom 2rem
			padding-top @padding-bottom
			max-width 100% !important
			

			
	.container-sys-info
		display none
		// .btn-more
		// 	display none !important
		// .row
		// 	position initial
			
		// 	.lista-iconos
		// 		box-shadow none
		// 		padding 4rem 0
				
		// 		a
		// 			border none
		// 			display block
					
		// 			img
		// 				max-width 12rem
		// 				width 100%
				
		// 			&:nth-of-type(1)
		// 				border-left-color transparent
					
		// 	.lista-horizontal
		// 		box-shadow none
		// 		min-width auto
		// 		opacity 0.99
		// 		display inline
		// 		position initial 
		// 		right unset
		// 		top unset
				
		// 		a
		// 			img
		// 				display block
				
	.content-cuadro-honor		
		.counter
			.col-sm-2
				margin 0 auto
				float left
				
			.col-sm-2:first-child:nth-last-child(1)
				width 50% !important
				
			.col-sm-2:first-child:nth-last-child(2),
			.col-sm-2:first-child:nth-last-child(2) ~ .col-sm-2
				width 50% !important

			.col-sm-2:first-child:nth-last-child(3),
			.col-sm-2:first-child:nth-last-child(3) ~ .col-sm-2
				width 50% !important
				
			.col-sm-2:first-child:nth-last-child(4),
			.col-sm-2:first-child:nth-last-child(4) ~ .col-sm-2
				width 50% !important
				
			.col-sm-2:first-child:nth-last-child(5),
			.col-sm-2:first-child:nth-last-child(5) ~ .col-sm-2
				width 50% !important
	.destacado
		clearfix()
		margin 2rem auto
		
		&-content
			float left
			max-width 85%
			padding-left 0.5rem
		&-fecha
			text-align left !important
			margin-top 1rem
			
		&-img
			float left
			max-width 15%
		&-title
			display block
			font-size 1.6rem
			height auto
			margin 1rem auto
			overflow visible
			text-overflow initial
			white-space normal

	.noticia
			
		.col-sm-6
			padding 0

		&-container
			border-bottom 1px solid darken($gris, 40%)
			overflow visible
			margin 3rem auto
			
		&-horizontal
			border-bottom none
			height auto
			padding-bottom 0
			margin 0
			img
				height auto
				
			.noticia
				padding 0
				
		img
			display none
			// object-fit(initial)
			// // position absolute
			// max-width 20%
		
		.overlay
			background-color transparent
			left unset
			padding 1rem
			top unset
			position initial
			width 100% !important
			a
				color $gris

			h3
				color $gris
				margin-top 0
				
			.btn
				color white
				

	.title-section
		padding-bottom 2rem
		padding-top @padding-bottom
		max-width 100%
		

@media (max-width:400px)
	.menu-container
		left -82%
		width 80%


@media (min-width:1280px)
	.noticia
		h2,
		h3
			font-size 1.8rem
	
@media (min-width:1550px)

	.container-destacados-home
		.col-sm-8
			.col-sm-4
				padding 1.3rem
	
	.container-cierre
		padding-bottom 9rem 
		padding-top 7rem 

	.container-video-home
		.title-section
			padding-bottom 3.6rem
			padding-top 8rem
			max-width (8.3%*7)
		
		

	.noticia
		h2,
		h3
			font-size 2.5rem


		.overlay
			padding 2.5rem
					
	.destacado-title
		font-size 2.4rem
		height 8rem
		


@media (max-width:$screen-sm) and (max-height:700px)
	.menu-nav
		height 100%
		max-height 45rem
		overflow-y scroll
		
		&::-webkit-scrollbar-track
			background-color $gris

		&::-webkit-scrollbar
			background-color $azul
			width 1rem

		&::-webkit-scrollbar-thumb
			background-color $azul
			border-radius 1rem
			
@media (max-width:$screen-sm) and (max-height:400px)
	.menu-nav
		max-height 20rem
