.menu
	&-container
		background-color $gris
		color white
		height 100%
		left -20%
		padding 3rem 0
		position fixed
		top 9rem
		transitionBase()
		width 20%
		z-index 20
		
		&.active
			left 0
		
	&-nav
		list-style-type none
		padding 0
		
		a
			background-color #fff
			color $gris
			display block
			font-weight $bold
			padding 1rem 2rem
			text-transform uppercase
			transitionBase()
			
			img,
			span
				display inline-block
				vertical-align middle
				

			img
				max-width 15%
				
			span
				padding 0.5rem
				max-width 75%

			&:hover
				background-color $azul
				color white
				text-decoration none
				

.drop-submenu
	& > a
		border-bottom 1px dotted transparent
		transitionBase()
	&.active
		& > a
			border-bottom 1px dotted $gris
		
		.submenu
			max-height 11rem
			overflow-y scroll
			opacity 0.999
			
			&::-webkit-scrollbar-track
				background-color $gris

			&::-webkit-scrollbar
				background-color $azul
				width 1rem

			&::-webkit-scrollbar-thumb
				background-color $azul
				border-radius 1rem
			
			a
				text-transform none
			
	.submenu
		height 100%
		margin 0
		max-height 0
		opacity 0
		overflow hidden
		padding 0
		transitionBase()
		

		li
			list-style-type none
			padding 0
			
			a
				background-color #fff
				color $gris
				display block
				font-weight $bold
				padding 1rem 2rem 1rem 4rem
				text-transform uppercase
				transitionBase()
		
