.page-taxonomy
	#content.region
		margin 1rem auto
		max-width: 114rem
		
		.col-sm-4
			clearfix()
			clear both
			float none
			width 100%
			
			.destacado
				clear both
				clearfix()
				margin 2rem auto
				width 100%
				&-content
				&-img
					float left
					padding 0 2rem
					
				&-content
					max-width 86%
					width 100%
				&-img
					max-width 40%
					
				&-fecha
					text-align left !important
				&-title
					display block
					height auto