.page-search-node
	#content
		// margin 0 auto
		// transitionBase()
		// width 100%
		// padding-left 1rem
		// padding-right @padding-left
		

		#block-system-main
			// make-row()
			// margin 0 auto
			// max-width $site-width
			// padding-left 20px
			// padding-right @padding-left
			

			h2
				color $azul
				font-weight $normal
			

			.search-form
				margin-top 4rem
				
				.form-item
					label
						display block
						font-size 2rem
					
					.form-text
						border 1px solid $gris
						border-radius 4px
						padding 0.5rem 1rem
						
				.form-submit
					background-color $azul
					background-image url('../images/search-white.png')
					background-position center
					background-repeat no-repeat
					border none
					overflow hidden
					text-indent -9999px
					circ(3.4rem)
					color white
			
			.search-results
				padding 0
				max-width 1140px
				
				.search-result
					border-bottom 1px dotted $gris
					display block
					margin 0.5rem auto
					padding 1rem 0
					
					.search-info
						display none
					
					.title
						margin 2rem auto
						a
							color $azul
							font-size 1.8rem
						