
for color, val in $temas
	body.{color}
		footer
				.bg-blue
					background-color val
					
		header
			background-color val
			background-image none
						
			
			.container-buscador
				
				.form-actions
					background transparent
					border none
					color val
				
				input
					border none
					
				.form
					&-group					
						button
							color val
							
			.fecha
				color white
				

		.badge
			background-color val
			color white
			
		.bg
			&-blue
				background-color val
				color white
				
				a
					color white
					
				.title-section
					border-bottom 1px solid white
					color white
			
		.btn
			&-all
				background-color val
				
				&:hover
					color val !important
		.content-cuadro-honor
			border-color val
			
			h2
				background-color val
				color white !important
				
			.nombre
				color val

		.content-asociados ul li i,
		.content-asociados .lista-asociados li i
			color val

		.comentario
			&-item
				border-color val
				
			&-usuario
				a
					color val
					
				i
					color lighten(val, 40%)
			

			&-text
				border-left-color lighten(val, 40%)
				a
					color $azul
					
		.container-sys-info
				.lista-iconos
					a
						border-bottom-color val
						
				.lista-horizontal
					a
						border-right-color val

		.menu-nav
			a
				&:hover
					background-color val
					
		.noticia
			.btn
				background-color val
				color white
		.title-section
			color val
		
		.revista
			.btn
				background-color val
				color white
		.row
			&-content
				h2,h3,h4,h5,h6
					color val	
					
		.slick	
			&-arrow
				color val
				
			&-dots				
				li					
					button 
						background-color $gris
					
					&.slick-active
						button 
							background-color val
							
		.text
			&-title
				color val

							
		#slider-videos
			.slick-dots
				li
					button
						background-color val
						border 1px solid white
						
					&.slick-active
						button
							background-color #fff
							border 1px solid val

		
		.video-js
			.vjs-big-play-button
				border-color val
				
		#comments			
			.comment
				&-content,
				&-header
					h3						
						a
							color val
					
				.submitted				
					p						
					.username
						color val
						
		.poll
			.bar
				.foreground
					background-color val
					
		.form-item
			label
				color val
				
			input
				border-color val
			

		.form-submit
			background-color val
			border-color val
			
			&:hover
				background-color #fff
				color val
				
		.page-search-node
			#content
				#block-system-main

					h2
						color val
					

					.search-form
								
						.form-submit
							background-color val
					
					.search-results
						
						.search-result
							
							.title

								a
									color val
		
		.view-calendar
			.date-heading
				h3					
					a
						color val
						
			.date-nav-wrapper
				.date-prev,
				.date-next
					background-color val
					a								
				

		//specs por color
			
		if color == 'amarillo'
			header
				background-color black
				
			footer
				.bg-blue
					background-color black
					

			.noticia
				.btn
					color black
					
			.revista
				.btn
					color black
					
			.bg
				&-blue
						
					.title-section
						color black
		if color == 'gris'
			.bg
				&-blue
						
					.title-section
						color $amarillo
						
			.menu-nav
				a
					&:hover
						background-color $azul
			.noticia
				.btn
					background-color $azul
			
			.title-section
				color $azul
			.revista
				.btn
					background-color $azul
			