.body
	&-fixed
		position fixed
		width 100%

.clearfix
	clearfix()
	

.hidden-x
	overflow-x hidden

.push-menu
	margin-right 0
	width 80%

.text
		
	&-intro
		font-style italic
		font-size 3rem
		line-height 1.1
		padding-left 6rem
		margin 3rem auto
		
	&-justify
		text-align justify
		text-align-last left
	&-left
		text-align left
	&-title
		color $azul