.page-galer-a-de-revistas
	.view-galer-a-de-revistas
		margin 4rem auto
		max-width 1150px
		
		.views-row
			make-sm-column(3, 3rem)
			margin-bottom 1rem
			margin-top @margin-bottom
			
	.views

		&-field-field-portada
			img
				img-responsive(block)
				width 100%
				

		&-field-title
			background-color #fcfcfc
			padding 1rem 2rem
			
			h3.field-content
				margin 0 auto
				a
					color $gris
					font-size 1.8rem