//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Intranet FAC

//-Etiqueta Metadescription
block description
	meta(name="description", content="Description" )


block content
	section.container-fluid
		div.row
			form(action="")
				input(type="text")
				input(type="text")